* {
    box-sizing: border-box;
    vertical-align: middle;
}

:root {
    font-family: 'Segoe Script', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

body {
    background-color: mintcream;
}

.title,
.turn {
    text-align: center;
    font-size: 3rem;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 30px;
}
.menu-buttons button {
    font-family: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
}
.menu-buttons button:hover {
    color: red;
    text-shadow: 1px 1px 10px rgba(244, 116, 116, 0.517);
    transition: ease-in-out .1s;
}

.board-container {
    display: grid;
    width: 500px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    background-color: gray;
}

.board-container .cell {
    font-family: inherit;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border: none;
    background-color: mintcream;
    font-size: 5rem;
    transition: ease-in-out .2s;
}

.board-container .cell:hover {
    background-color: rgb(225, 239, 232);
}

.board-container .cell.player1 {
    color: green;
}
.board-container .cell.player2 {
    color: blue;
}
.board-container .cell.player1.winning-cell {
    background-color: green;
    color: white;
}
.board-container .cell.player2.winning-cell {
    background-color: blue;
    color: white;
}
.players-form-dialog::backdrop {
    /* background-color: darkorange; */
  background-image: linear-gradient(
    130deg,#ff781882,
    #af002c72 41.07%,
    #3190977b 76.05%
  );
}
.players-form-dialog {
    font-size: 1.2rem;
    padding: 50px;
    border: none;
    border-radius: 20px;
    font-family: Roboto, 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 20px gray;
    color: rgb(100, 100, 100);
}
.players-form-dialog input[type="text"] {
    width: 100%;
    padding: 6px 6px;
    font-size: 1.3rem;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}
.players-form-dialog .game-mode-fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    border: none;
}
.players-form-dialog .game-mode-fieldset legend {
    padding: 8px 20px 0;
    margin-left: -35px;
}
.players-form-dialog input[type="radio"] {
    width: 20px;
    height: 20px;
}
.players-form-dialog label:has(+input[type="radio"]:hover),
.players-form-dialog label:has(+input[type="radio"]:checked)  {
    color: green;
    cursor: pointer;
}
.players-form-dialog .game-mode-fieldset div {
    display: flex;
    gap: 20px;
    align-content: center;
}
.players-form-dialog button {
    font-family: inherit;
    font-size: 1.4rem;
    margin: 20px auto 0;
    display: block;
    cursor: pointer;
    padding: 10px 40px;
    background-color: rgb(0, 128, 255);
    color: white;
    border: none;
    border-radius: 5px;
    transition: ease-in-out .2s;
}
.players-form-dialog button:hover {
    transform: translateY(-2px);
}
.players-form-dialog button:active {
    transform: translateY(-5px);
}