* {
    box-sizing: border-box;
}

.board-container {
    display: grid;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}

.board-container .cell {
    aspect-ratio: 1 / 1;
    cursor: pointer;
}